---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import AbipulliHat from "../assets/abipulli-hat.svg";
import EmblaCarousel from "../components/Carousel";

const items = [
  { id: 1, content: "Item 1" },
  { id: 2, content: "Item 2" },
  { id: 3, content: "Item 3" },
  { id: 4, content: "Item 3" },
  { id: 5, content: "Item 3" },
  { id: 6, content: "Item 3" },
];
---

<Layout>
  <header class="flex flex-row">
    <div class="flex flex-row items-center gap-2">
      <Image loading={"eager"} src={AbipulliHat} alt="ddd" />
      <p class="text-2xl font-medium">AbiPulli.com</p>
    </div>
    <div class="flex flex-row items-center gap-2">
      <a class="bg-black p-2 text-white rounded-md">Kollektion</a>
      <a class="rounded-md">Preise</a>
      <a class="rounded-md">KI</a>
    </div>
  </header>
  <h1 class="text-8xl font-medium text-center">
    Das Original für<br />AbiPullis
  </h1>
  <div></div>
  <p class="text-center font-medium text-xl">
    Die modernsten und nachhaltigsten AbiPullis
  </p>
  <a class="shadow bg-abipulli-green">Jetzt Design Starten</a>
  <EmblaCarousel slides={items} client:load />
  <div
    class="absolute w-full overflow-hidden h-full flex flex-row justify-center top-0"
  >
    <div
      class="absolute bg-abipulli-green-light w-900 h-900 rounded-full text-center -top-700 -z-10"
    >
    </div>
  </div>
</Layout>
